<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>열람</title>
  </head>
  <body>
    <h1>열람</h1>
    <h2><%= Title %></h2>
    <pre><%= Content %></pre>
    <a href="/edit/<%= Name %>">수정</a>
    <a href="/delete/<%= Name %>">삭제</a>
    <a href="/">돌아가기</a>
  </body>
</html>
